version: 2
updates:
  # Go dependencies
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "03:00"
    open-pull-requests-limit: 5
    pull-request-branch-name:
      separator: "/"
    reviewers:
      - owenzanzal
    labels:
      - dependencies
      - go
    commit-message:
      prefix: "chore(deps):"
      include: "scope"
    allow:
      - dependency-type: "direct"
      - dependency-type: "indirect"

  # GitHub Actions
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
    pull-request-branch-name:
      separator: "/"
    reviewers:
      - owenzanzal
    labels:
      - dependencies
      - github-actions
    commit-message:
      prefix: "ci(deps):"
      include: "scope"
